
*{
    padding: 0;
    margin: 0;
}

.btn4{
    color: white;
    background-color: purple;
    border: none;
    border-radius:10px;
    padding: 0px 7px;
    }
    .btn4:hover{
        background-color: #F7941D;
        color: white;
        transition: all .5s ease-out;
    }
    .card{
    box-shadow: 0px 1px 10px 0px grey !important;
        -webkit-box-shadow: 0px 1px 10px 0px grey !important;
        -moz-box-shadow: 0px 1px 10px 0px grey !important;
}
.card:hover{
      box-shadow: 0px 1px 10px 0px #F7941D !important;
        -webkit-box-shadow: 0px 1px 10px 0px #F7941D !important;
        -moz-box-shadow: 0px 1px 10px 0px #F7941D !important;
}
.bttn{
    border:1px solid greenyellow !important;
    color: greenyellow !important;
  }
  .bttn:hover{
    background-color: greenyellow !important;
    transition: all 1s ease-out !important;
    color: black !important;
  }
  .nvv{
    font-size:18px !important;
  }
